<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<head>
  <title>Admin Management</title>
</head>

<body>
	<div layout:fragment="content" th:remove="tag">
		<main id="main" class="main">
			<div class="pagetitle">
				<h1>Admin Management</h1>
				<nav>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/home">Home</a></li>
						<li class="breadcrumb-item">Admin Management</li>
						<li class="breadcrumb-item active"><a href="/listAdmins">Admins</a></li>
					</ol>
				</nav>
			</div><!-- End Page Title -->

			<a type = "button" class="btn btn-primary" th:href="@{/addAdmin}">Add New Admin</a>
			
			<br/><br/>
			<div class="col-12">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Can not delete record</div>
				</div>
				<div th:if="${param.success}">
					<div class="alert alert-info">Record deleted successfully</div>
				</div>
			</div>
			
			<table class="table datatable">
				<thead>
					<tr>
						<th>User ID</th>
						<th>Name</th>
						<th>Gender</th>
						<th>Email</th>
						<th>Mobile</th>
						<th>Username</th>
						<th>Status</th>
						<!-- <th>Create User</th> -->
						<th>Create Date</th>
						<!-- <th>Last Update User</th> -->
						<th>Last Update Date</th>
					</tr>
				</thead>	
				<tbody>
					<tr th:each="admin : ${listAdmins}">
						<td th:text="${admin.userId}">User ID</td>
						<td th:text="${admin.name}">Name</td>
						<td th:if = "${admin.gender == 'male'}" th:text = "Male" >Gender</td>
						<td th:if = "${admin.gender == 'female'}" th:text = "Female">Gender</td>
						
						<td th:text="${admin.email}">Email</td>
						<td th:text="${admin.mobile}">Mobile</td>
						<td th:text="${admin.username}">Username</td>
						<td th:if="${!(admin.active)}"> <span class="label label-danger">Deactive</span> </td>
						<td th:if="${admin.active}"><span class="label label-success">Active</span></td>
						<!-- <td th:text="${admin.createBy}">Create User</td> -->
						<td th:text="${admin.createDate}">Create Date</td>
						<!-- <td th:text="${admin.updateBy}">Last Update User</td> -->
						<td th:text="${admin.updateDate}">Last Update Date</td>
						<td colspan=2 style="letter-spacing: 10px;">
							<a type = "button" class="bi bi-pencil-square" title="Update" th:href="@{/showAdminUpdate(adminId=${admin.userId})}"></a>
							<a type = "button" class="bi bi-trash" title="Delete" th:onclick="|deleteAdmin('${admin.userId}')|"></a>
							<a type = "button" class="bi bi-clipboard-x"  title = "Deactivate" th:href="@{/adminDeactive(adminId=${admin.userId})}" th:if="${admin.active}"></a>
							<a type = "button" class="bi bi-clipboard-check" title = "Activate" th:href="@{/adminActive(adminId=${admin.userId})}" th:if="${!(admin.active)}"></a>	
						</td>
					</tr>
				</tbody>
			</table>
		</main><!-- End #main -->	
  	</div>
</body>
</html>

<script src="js/user.management.js"></script>





















